<mat-progress-bar mode="indeterminate" *ngIf="laoding"></mat-progress-bar>
<h1>Shorter links</h1>
<form (ngSubmit)="onSubmit(formShorter)" [formGroup]="formShorter">
  <label for="long-link">
    <input type="url" placeholder="your URL here.." [ngClass]="{invalid: formShorter.invalid}" name="long-link" formControlName="longLink">
    <button mat-raised-button color="primary">Reduce</button>
  </label>
  <label>
    <input placeholder="your reduced url will be here" type="text" name="short-link" formControlName="shortLink" #inputTarget>
    <button (cbOnSuccess)="setCopied()" [disabled]="!formShorter.get('shortLink')?.value" type="button" ngxClipboard color="accent" mat-raised-button [cbContent]="inputTarget.value">copy</button>
  </label>
</form>
