:host{

  display: grid;
  align-content: center;
  height: 100%;
  grid-gap: 20px;
  place-items: center;
  form{
    display: grid;
    grid-gap: 20px;

    label{
      display: grid;
      font-size: x-large;
      align-items: center;
      grid-template-columns: repeat(2, 1fr) 40px;
    }
    input{
      border-radius: 10px;
      box-shadow: 0 0 20px #eee;
      padding: 10px 15px;
    }
    input[name=long-link] {
      grid-column: span 2;
    }
    button[type=button]{
      grid-column: span 1;
      border-radius: 10px;
      height: 100%;
    }
    span{
      grid-column: span 1;
    }
  }
}

button, input, span{
  min-height: 30px
}

mat-progress-bar{
  position: absolute;
}

.copied {
  border-color: aqua;
}

