<h1>Shorter links</h1>
<form (ngSubmit)="onSubmit(formShorter)" [formGroup]="formShorter">
  <label for="long-link">
    <span>set your link to reduce:</span>
    <input type="text" [ngClass]="{invalid: formShorter.invalid}" name="long-link" formControlName="longLink">
  </label>
  <button [disabled]="formShorter.invalid">generate</button>
  <label>
    <span>your reduced link is:</span>
    <input [ngClass]="{'copied': isCopied}" type="text" name="short-link" formControlName="shortLink" #inputTarget>
    <button (cbOnSuccess)="setCopied()" type="button" ngxClipboard  [cbContent]="inputTarget.value">copy</button>
  </label>
</form>
