<mat-progress-bar mode="indeterminate" *ngIf="laoding"></mat-progress-bar>
<h1>Shorter links</h1>
<form (ngSubmit)="onSubmit(formShorter)" [formGroup]="formShorter">
  <label for="long-link">
    <span>your link :</span>
    <input type="url" [ngClass]="{invalid: formShorter.invalid}" name="long-link" formControlName="longLink">
  </label>
  <button class="btn-grad" mat-raised-button color="primary">Reduce</button>
  <label>
    <span>your reduced link is:</span>
    <input type="text" name="short-link" formControlName="shortLink" #inputTarget>
    <button (cbOnSuccess)="setCopied()" type="button" ngxClipboard  mat-mini-fab [cbContent]="inputTarget.value">copy</button>
  </label>
</form>
